
nav {
    height: 8vh;
}

.main-section{
    /* min-height: 895px; */
    height: 92vh;
    display:flex;
}
.left-column {
    /* background-color: red; */
    min-height: 100px;
    min-width: 20%;
}

.right-column {
    /* background-color: blue; */
    min-width: 80%;
}

.search {
    min-height: 20%;
    /* background-color: brown; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.search form {
    display: flex;
    flex-direction: column;
    
}

.search form .search-input {
    margin-bottom: 10px;
}

.search form button {
    background-color: aqua;
}



.history {
    min-height: 80%;
    /* background-color: antiquewhite; */
}

.current-weather {
    min-height: 30%;

}

.forecast {
    min-height: 70%;
    margin: 20px;
}

.weather-box {
    margin: 20px;
    padding: 10px;
    border: 1px solid gray;
    height: 25vh;
    width: 85%
}

.forecast-objects {
    display: flex;
    flex-direction: row;

}

.forecast-container {
    background-color: darkgray;
    min-height: 250px;
    min-width: 200px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.forecast-container img {
    max-width: 50px;
}