* {
    --dark: #323d4f;
    --light-blue: #6991e3;
    --light-gray: #aeaeae;
    --white: #ffffff;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

nav {
    height: 8vh;
}

.main-section{
    /* min-height: 895px; */
    height: 92vh;
    display:flex;
}
.left-column {
    /* background-color: red; */
    min-height: 100px;
    min-width: 20%;
}

.right-column {
    /* background-color: blue; */
    min-width: 80%;
}

.search {
    min-height: 17%;
    /* background-color: brown; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid gray;
}

.search h2 {
    font-size: 40px;
    font-weight: bold;
}

.search form {
    display: flex;
    flex-direction: column;
    padding-bottom: 2%;
    
}

.search form .search-input {
    margin-bottom: 20px;
    min-height: 50px;
    padding-left: 5px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 25px;
}

.search form button {
    background-color: var(--light-blue);
    color: var(--white);
    min-height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}



.history {
    min-height: 80%;
    /* background-color: antiquewhite; */
}

.history-buttons-list {
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 2%;
}

.history-button {
    background-color: var(--light-gray);
    width: 100%;
    height: 4.5vh;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}


.current-weather {
    min-height: 30%;

}

.forecast {
    min-height: 70%;
    margin: 20px;
}

.weather-box {
    margin: 20px;
    padding: 10px;
    border: 1px solid gray;
    height: 25vh;
    width: 85%
}

.weather-box img {
    max-height: 65px;
}

.weather-box h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.weather-box h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.forecast-objects {
    display: flex;
    flex-direction: row;
    /* margin-left: ; */

}

.forecast-container {
    background-color: var(--dark);
    min-height: 250px;
    min-width: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    color: var(--white);

}

.forecast-container h3 {
    font-size: 25px;
    font-weight: bold;
}

.forecast-container h4 {
    font-size: 18px;
    /* font-weight: bold; */
}

.forecast-container img {
    max-width: 50px;
}